<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner By Anshuman Singh</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="main-box">
            <h1 class="heading">URL SHORTNER</h1>
            <a href="/dashboard" class="dashboard_btn">View Dashboard</a>
            <form method="POST" action="/url">
                <label class="label">Enter You URL</label>
                <input type="text" name="url" class="inputField" placeholder="https://www.example.com">
                <button class="gen_btn" type="submit">Generate</button>
                <br>
                <% if (locals.newUrl) { %>
                    <a href="<%= newUrl %>" class="newUrlGen" target="_blank"><%= newUrl %></a>
                    <% } %>
            </form>
        </div>
    </div>
</body>

</html>