<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your New URL is Ready!</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="main-box">
            <h2 class="text_new">Your New <span style="color: greenyellow;">URL</span> is ready!</h2>
            <% if (locals.newUrl) { %>
        <a href="<%= newUrl %>" class="newUrlGen" target="_blank"><%= newUrl %></a>
        <% } %>
        <a href="/" class="back_btn">Back To Homepage</a>
        </div>
        
    </div>
    
</body>
</html>