*{
    box-sizing: border-box;
    transition-duration: 0.2s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

h1{
    font-size: 4rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

div{
    padding: 2rem 4rem;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    width: max-content;
    margin: 0 auto;
}

th{
    padding: 1rem;
    text-align: center;
    text-decoration: underline;
    min-width: 10rem;
}

td{
    padding: 0 1rem;
}

.back_btn{
    color: white;
    text-decoration: none;
    width: 30%;
    padding: 0.5rem 0;
    background-color: brown;
    margin: 0 auto 2rem auto;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.back_btn:hover{
    background-color: rgb(158, 59, 59);
}
.back_btn:active{
    background-color: rgb(163, 67, 67);
}