body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   background: rgb(0,18,36);
background: linear-gradient(171deg, rgba(0,18,36,1) 0%, rgba(61,3,149,1) 72%, rgba(6,45,92,1) 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition-duration: 0.2s;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-box{
    width: max-content;
}

.heading{
    font-size: 4rem;
    text-align: center;
    color: white;
}

.label{
    width: 70%;
    text-align: center;
    font-size: 1.25rem;
    display: block;
    margin: 0rem auto 0.5rem auto;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.inputField{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 1.25rem;
}

.gen_btn{
    width: 30%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(92, 228, 2);
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
    border-radius: 20px;
    transition-duration: 0.2s;
}

.gen_btn:hover{
    background-color: rgb(109, 216, 38);
}

.gen_btn:active{
    background-color: rgb(102, 255, 0);
}

form{
    background-color: rgb(255, 208, 0);
    padding: 2rem;
    width: 100%;
    margin: 3rem auto;
    border-radius: 20px;
    box-shadow: 6px 6px 1px white;
}

.newUrlGen{
    display: block;
    width: 60%;
    text-align: center;
    background-color: rgb(111, 0, 255);
    padding: 1rem;
    border-radius: 40px;
    color: white;
    margin: 0 auto;
    text-decoration: none;
    font-size: 1.25rem;
}

.newUrlGen:hover{
    text-decoration: underline;
}

.text_new{
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem;
    font-size: 3rem;
}

.back_btn{
    color: white;
    text-decoration: none;
    width: 30%;
    padding: 0.5rem 0;
    background-color: brown;
    margin: 1rem auto;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.back_btn:hover{
    background-color: rgb(158, 59, 59);
}
.back_btn:active{
    background-color: rgb(163, 67, 67);
}
.dashboard_btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: crimson;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    display: block;
    width: 40%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 5px;
}

.dashboard_btn:hover{
    background-color: rgb(218, 54, 87);
}

.dashboard_btn:active{
    background-color: rgb(206, 85, 109);
}